{% extends 'base.html' %}


{%block content %}


<div class=" text-black  mb-[2rem] p-[1rem] text-justify w-full h-[100%]">
    <h1 class="font-extrabold opacity-10 text-green-600 mb-[1.5rem] text-[2rem] ml-6">
    About AgriIdea
    </h1>

    <p class="md:w-[60%] w-[90] text-[1rem] text-justify rounded-md mb-8  mx-auto">
   
        AgriIdea, your ultimate platform for innovative solutions and fresh insights in the agricultural sector. Whether you're an aspiring farmer, 
        looking to expand your current operations, or seeking solutions to specific agricultural challenges, AgriIdea is here to guide you every step of the way. 
         
         Dive into a vast array of articles covering modern farming techniques, sustainable practices, and success stories from experienced farmers. 
         Our platform fosters a dynamic community of agriculture enthusiasts and experts, providing a space for sharing challenges and discovering new ideas.
          From crop cultivation strategies to livestock management tips, AgriIdea is dedicated to helping you grow a prosperous and sustainable farm.
         
         Join us as we explore the future of farming and contribute to a thriving agricultural community. <span class="text-green-600">Together, let's cultivate success.</span>
      
        </p> 


        

        <h3 class=" text-center font-extralight text-[1rem] md:text-[3rem] leading-1 ">
            Ideas move the world!! <br>
            AgriIdea we move Agriculture
        </h3>

        <h1 class="font-bold text-[2em] md:text-[4rem] text-center mt-6 text-green-600"  >Vision</h1>

        <p class=" mx-[5%] text-justify  md:mx-[30%] bg-gradient-to-br from-green-500 via-yellow-300 to-amber-800  p-10 font-medium text-[1rem] text-black " >
            AgriIdea envisions a sustainable and innovative agricultural landscape where knowledge and resources are easily accessible to farmers and enthusiasts alike. We aim to empower individuals through education, fostering a community that embraces best practices, shares insights, and encourages the adoption of modern techniques. By bridging the gap between information and action, AgriIdea strives to enhance agricultural productivity and sustainability for a better future.
        </p>
</div>





{%endblock %}